<div class="container">
  <!-- File Input -->
  <input
    type="file"
    class="file-input"
    [accept]="requiredFileType"
    (change)="onFileSelected($event)"
    #fileUpload
    multiple
  />

  <!-- File Upload Section -->
  <div class="file-upload">
    <!-- Display file name or a default message -->
    {{ fileName || "No file uploaded yet." }}

    <!-- Upload Button to trigger file input click -->
    <button
      mat-mini-fab
      color="primary"
      class="upload-btn"
      (click)="fileUpload.click()"
    >
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>
  <button mat-button color="primary" (click)="search()">Search</button>
</div>
